<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389957878512-2mh56jr12a83e6e4dn88be01p13bh2cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389957878512-2mh56jr12a83e6e4dn88be01p13bh2cr</string>
	<key>API_KEY</key>
	<string>AIzaSyAmVy4I48cq6ceOoDOXB5X-yVfaEXweSJY</string>
	<key>GCM_SENDER_ID</key>
	<string>389957878512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ramy.GroceryItemsUiki</string>
	<key>PROJECT_ID</key>
	<string>groceryitems-6835a</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryitems-6835a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389957878512:ios:3c747a82e15ee44fed3835</string>
</dict>
</plist>